<div class="container">
  <h1>All our flats (<%= @flats.count %>)</h1>
  <div class="grid">
    <% @flats.each do |flat| %>
      <div class="card">
        <figure>
        <%= link_to flat_path(flat) do %>
          <%= image_tag flat.picture, class: "card-img-top" %>
        <% end %>
        </figure>
        <div class="card-body flat-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fas fa-euro-sign">  <%= flat.price_per_night %>  </i></li>
          <li class="list-group-item"><i class="fas fa-users">  <%= flat.number_of_guests %>  </i> </li>
        </ul>
        <div class="card-body flat-footer">
          <%= link_to "More info", flat_path(flat), class: "navbar-link" %>
          <%= link_to "Edit", edit_flat_path(flat), class: "navbar-link" %>
          <%# link_to "Remove", root_path, class: "navbar-link" %>

          <%= link_to flat_path(flat), class: "navbar-link", 
            method: :delete,
            data: { confirm: "Are you sure you want to delete this flat?" } do %>
           Delete
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
