<div class="container">
  <h1>New flat</h1>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.text_area :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
  <div>
      <%= f.submit class: "btn btn-primary mt-2" %>
    <% end %>

    <%= link_to root_path, class: "btn btn-secondary mt-2" do %>
      <i class="fas fa-undo-alt"> Back to flats</i>
    <% end %>
  </div>
</div>
